@font-face {
  font-family: quicksand;
  src: url(quicksand_book.otf);
}

@font-face {
  font-family: blackline;
  src: url(blacklinescript.ttf);
}

p {
  font-family: quicksand;
  text-align: center;
  line-height: 150%;
}

.center {
  text-align: center;
}

h1 {
  font-family: blackline;
  font-size: 75px;
  color: #5c98f9;
}

.content {
 
  max-width: 500px;
  margin: auto; 
} 

div {
  text-align: center;
  padding: 100px;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 font-family: blackline;
 overflow: hidden;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #5c98f9;
    color: white;
}

.fa:hover {
  opacity: 0.7;
}
