@font-face {
  font-family: young;
  src: url(fonts/young.ttf);
}

@font-face {
  font-family: blackline;
  src: url(fonts/blacklinescript.ttf);
}

p {
  font-family: young;
  text-align: center;
  line-height: 150%;
  font-size: 17px;

}

.center {
  text-align: center;
}

h1 {
  font-family: blackline;
  font-size: 75px;
  color: #5c98f9;
  line-height: 30%
}

.content {
 
  max-width: 500px;
  margin: auto; 
} 

div {
  text-align: center;
  padding: 100px;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 font-family: blackline;
 overflow: hidden;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #5c98f9;
    color: white;
}

.fa:hover {
  opacity: 0.7;
}

img {
  border-radius: 50%;
  max-height: 17%;
  max-width: 17%;
}
