@font-face {
  font-family: quicksand;
  src: url(quicksand_book.otf);
}

@font-face {
  font-family: blackline;
  src: url(blacklinescript.ttf);
}

p {
  font-family: quicksand;
  text-align: center;
  line-height: 150%;
}

.center {
  text-align: center;
}

h1 {
  font-family: blackline;
  font-size: 75px;
}

.content {
 
  max-width: 500px;
  margin: auto; 
} 

div {
  text-align: center;
  padding: 100px;

}
